<div class="header">
    <nav class="header_top">
      <!-- Menu -->
      <div class="header_menu">
        <div class="header_menu_icon">
          <mat-icon>
            menu
          </mat-icon>
        </div>
  
        <img src="http://pngimg.com/uploads/amazon/amazon_PNG11.png" class="header_menu_logo" alt="amazon logo">
        
        <div class="header_menu_location">
          <div class="header_menu_location_icon">
            <mat-icon>place</mat-icon>
          </div>
          <div class="header_menu_location_lines">
            <span class="header_menu_location_line_one">Hello</span>
            <span class="header_menu_location_line_two"><strong>Select your address</strong></span>
          </div>
        </div>
  
        <div class="header_menu_searchbar">
          <input type="text" class="header_menu_searchbar_input" name="searchbar" id="">
          <div class="header_menu_searchbar_icon">
            <mat-icon>
              search
            </mat-icon>
          </div>
        </div>
  
        <div class="header_menu_signin">
           <span class="header_menu_top_item">
             Hello, Sign in
           </span>
           <span class="header_menu_bottom_item">
            Accounts & Lists
          </span>
        </div>
  
        <div class="header_menu_signin">
          <span class="header_menu_top_item">
            Returns
          </span>
          <span class="header_menu_bottom_item">
           & Orders
         </span>
       </div>
       
       <div class="header_menu_cart">
         <div class="header_menu_cart_icon">
          <mat-icon>shopping_cart</mat-icon>
         </div>
         <div class="header_menu_cart_items">
          <p>0</p>
         </div>
         
       </div>
      
      </div>
  
    </nav>
    <nav class="header_bottom">
      <div class="container-fluid">
        <ul class="header_bottom_list">
          <li><a href="#">Best Sellers</a></li>
          <li><a href="#">Mobiles</a></li>
          <li><a href="#">Fashion</a></li>
          <li><a href="#">Electronics</a></li>
          <li><a href="#">Amazon Pay</a></li>
        </ul>
      </div>
    </nav>
  </div>